<div id="fh5co-footer">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <p>
                    <ul class="fh5co-social-icons">
                        <li>
                            <a href="https://api.whatsapp.com/send?phone={{contact.mobile}}" target="_blank"><i class="icon-whatsapp"></i> {{contact.mobile}}</a>
                        </li>
                        <li>
                            <a href="mailto:{{contact.email}}"><i class="icon-mail"></i> {{contact.email}}</a>
                        </li>
                        <li>
                            <a target="_blank" href="{{introduction.resumeFileUrl}}"><i class=" icon-text-document-inverted"></i> Download resume</a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>